<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<style>
  table{
    /* prevent overlapping */
    border-collapse:collapse;
    width:100%;
  }
  th, td {
    border: 2px solid black;
    padding:8px;
    text-align:justify;
  }
  th {
    background-color: #a0dbf9; /* Optional: makes the header stand out */
  }
</style>





<table id="albums-table">
  <tr id="albums-table-header">
    <th>Artist</th>
    <th>Album</th>
    <th>Condition</th>
    <th>Digital Release Only</th>
    <th colspan="2"></th>
  </tr>
  <div> 
    <a href="/albums/new"><button type="button">Add New Album</button></a>
  </div>
  <% if (albums && albums.length) { %>
    <% albums.forEach((album) => { %>
      <tr>
        <td><%= album.artist %></td>
        <td><%= album.album %></td>
        <td><%= album.condition %></td>
        <td><%= album.digitalRelease ? 'Yes' : 'No' %> </td>
        
        <td>
            <a href="/albums/edit/<%= album.id %>"><button type="button">Edit</button></a>
        </td>
        
        <td>
          <form action="/albums/delete/<%= album.id %>" method="POST" style="display:inline;">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr> 
      
    <% }) %>
  <% } %>
</table>
<form method="POST" action="/sessions/logoff">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
  <button>LOG OFF</button>
</form>
<%- include("partials/footer.ejs") %>
