<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>
<h2>Jobs List</h2>

<table id="jobs-table">
  <tr id="jobs-table-header">
    <th>Company</th>
    <th>Position</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>
  <% if (jobs && jobs.length) { %>
    <% jobs.forEach((job) => { %>
      <tr>
        <td><%= job.company %></td>
        <td><%= job.position %></td>
        <td><%= job.status %></td>
        
        <td>
            <a href="/jobs/edit/<%= job.id %>"><button type="button">Edit</button></a>
        </td>
        
        <td>
          <form action="/jobs/delete/<%= job.id %>" method="POST" style="display:inline;">
            <input type="hidden" name="_csrf" value="<%= _csrf %>">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr> 
      
    <% }) %>
  <% } %>
</table>
<div>
  
  <a href="/jobs/new"><button type="button">Add New Job</button></a>
</div>
<%- include("partials/footer.ejs") %>
